.msg_content {
    border-radius: 10px;
    border:solid 2px #056262;
    background-color:#056262;
    width:90%;
    overflow:auto;
    word-break: break-all;
}

.chatcontainer{
    overflow:auto; 
    width:70%; 
    height:650px; 
    border: solid, 10px,black;
}

.date{
    color:#669A9B;
}

.thisme{
    border-radius: 10px;
    border:solid 2px red;
    background-color:red;
    width:90%;
}